:root {
   --cor1: rgba(253, 238, 220, 1);
   --cor2: #fac17b;
   --cor3: #ef9d50;
   --cor4: #E38B29;
   --cor5: rgba(254,189,247,1);
   --cor6: rgba(190,200,235,1);

   --azul1:#0A2647;
   --azul2:#144272;
   --azul3:#205295;
   --azul4:#2C74B3;
   --azul5:#82AAE3;
   --azul6:#91D8E4;
   --azul7:#EAFDFC;
   --laranja: #FF6E31;
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background-color: var(--azul2);
    font-family: 'Montserrat', sans-serif;
}

header {
    margin: 1em;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    align-content: baseline;
}

.link {
    background-color: var(--azul5);
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px var(--azul1);
    border-color: var(--azul1);
    color: var(--azul1);
    font-weight: 700;
    text-align: center;
    padding: .6em 1em ;
}

body {
    font-size: 14px;
    color: var(--azul7);

}

.mensagem-flash {
    display: none;
}

.apresentacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto-apresentacao{
    padding: 20px 40px;
}
h1 {
    color: var(--azul5);
    padding: 0.5em;
    text-shadow: 5px 5px 3px var(--azul1);
}
.apresentacao p{
    text-align: center;

}

h2 {
    color: var(--azul5);
    font-size: 20px;
    text-shadow: 5px 5px 3px var(--azul1);
    text-align: center;
    padding: 1em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dados_login {
    background-color: var(--azul1);
    color: var(--azul7);
    padding: 20px 40px;
    border-radius: 10px;
}

.input_login {
    padding: 0.2em;
}

.label_senha {
    padding-right: 9px;
}

.subdivisao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;

    padding: 1em;

}

button { 
    background-color: var(--laranja);
    padding: 0.5em 1em;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    box-shadow: 0px 0px 10px 2px var(--azul1);
    border-color: var(--azul1);
    border-style: none;

    color: var(--azul7);
    font-weight: 700;
}