<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de Frete</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <a  class="link" href="{{ url_for('index') }}">Início</a>
        <a class="link" id="logout" href="{{ url_for('logout') }}">Logout</a>
    </header>
    <section class="mensagem-flash">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for message in messages %}
                    <li class="alert">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </section>

    <section>
        <h1>Calculadora de Frete</h1>
        <div class="calculadora__frete">
            <form action="{{ url_for('pesquisaendereco') }}" method="POST">
                <fieldset class="dados__endereco">
                    <div class="input__endereco">
                        <label> Origem </label>
                        <input type="text" name="origem" id="origem" required>
                    
                        <label>Destino</label>
                        <input type="text" name="destino" id="destino" required>
                    
                        <button type="submit">Pesquisar</button>
                    </div>
                </fieldset>
            </form>

            <div class="output__endereco">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="item__output__endereco">
                    {% for message in messages %}
                        <li>{{ origem }}</li>
                        <li >{{ destino }}</li>
                        <li >{{ km }}</li>
                        <li >{{ duracao }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                {% endwith %}
            </div>

            <form action="{{ url_for('calculafrete') }}" method="POST">
                <fieldset class="dados__frete">
                    <div class="input__frete">

                        <label> Valor por Km </label>
                        <input type="number" name="valorkm" id="valorkm" required>
                    
                        <button type="submit">Calcular</button>
                    </div>
                </fieldset>
            </form>

            <div class="output__frete">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                        {% for message in messages %}
                            <li class="item__output__frete">Para rodar {{ km2 }}, o valor cobrado será de R${{ valorfrete }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    {% endwith %}
            </div>
        </div>
    </section>
</body>
</html>