<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de Frete</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
    <header>
        <a  class="link" href="{{ url_for('index') }}">Início</a>
        <a class="link" id="logout" href="{{ url_for('logout') }}">Logout</a>
    </header>
    <section class="mensagem-flash">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul id="messages" class="list-unstyled">
                {% for message in messages %}
                    <li class="alert alert-success">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </section>

    <section>
        <h1>Calculadora de Frete</h1>
        <form action="{{ url_for('pesquisaendereco') }}" method="POST">
            <fieldset class="dados__endereco">
                <div class="input__endereco">
                    <label> Origem </label>
                    <input type="text" name="origem" id="origem" required>
                
                    <label>Destino</label>
                    <input type="text" name="destino" id="destino" required>
                
                    <button type="submit">Pesquisar</button>
                </div>
            </fieldset>
            <div class="output__endereco">
                <p class="dados__endereco__resultado">{{ origem }}</p>
                <p class="dados__endereco__resultado">{{ destino }}</p>
                <p class="dados__endereco__resultado">{{ km }}</p>
                <p class="dados__endereco__resultado">{{ duracao }}</p>
            </div>
        </form>
    </section>
</body>
</html>