<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esqueci a senha</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
    <header>
        <a class="link" href="{{ url_for('login') }}">Início</a>
        <a class="link" href="{{ url_for('cadastro') }}">Faça seu cadastro</a>

    </header>
    <main>
        <section class="mensagem-flash">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul id="messages" class="list-unstyled">
                    {% for message in messages %}
                        <li class="alert alert-success">{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </section>
        <section class="esqueceu_senha">
            <div class="informacoes">
                <h1>Esqueceu a senha?</h1>
                <p id="info_esqueceu_senha">Preencha as informações abaixo:</p>
            </div>
            <form action="{{ url_for('autenticartroca_senha') }}" method="POST">
                <fieldset class="dados_esqueceu_senha">
                    <div class="input_esqueceu_senha">
                        <label for="email">E-mail (*)</label>
                        <input type="text" name="email" id="email" required>
                    </div>
                    <div class="input_esqueceu_senha">
                        <label>Usuario (*)</label>
                        <input type="text" name="usuario" id="usuario" required>
                    </div>
                </fieldset>
                <div class="subdivisao">
                    <button type="submit">Recuperar senha</button>
                </div>
            </form>   
        </section> 
    </main>
</body>
</html>
