<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parabens</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
    <header>
        <a class="link" id="logout" href="{{ url_for('logout') }}">Logout</a>
    </header>
    <section class="mensagem-flash">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul id="messages" class="list-unstyled">
                {% for message in messages %}
                    <li class="alert alert-success">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </section>
    <section class="apresentacao">
        <h1>Parabens, você logou com sucesso.</h1>
        <p>Esta é apenas uma demonstracao simples de uma aplicação feita em <strong>Flask</strong>.<br>
            Voce ainda pode explorar a <strong>area de esqueci a senha</strong> e altera-la.<br>
            Sinta-se a vontade para explorar.</p>
    </section>
</body>
</html>
