<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
    <header>
        <a href="{{ url_for('login') }}">Início</a>
        <a href="{{ url_for('cadastro') }}">Faça seu cadastro</a>

    </header>
    <main>
        <div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul id="messages" class="list-unstyled">
                    {% for message in messages %}
                        <li class="alert alert-success">{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    <div class="teste">
        <div class="bemvindo">
            <h1>Bem vindo!</h1>
            <p class="frases">Faça seu login.</p>
        </div>

        <form action="{{ url_for('autenticar') }}" method="POST">
            <fieldset class="dados_login">
                <div>
                    <label class="label_login">Usuario</label>
                    <input type="text" name="usuario">
                </div>
                <div>
                    <label class="label_login">Senha</label>
                    <input type="password" name="senha">
                </div>
            </fieldset>
            <div>
                <button type="submit">Logar</button>
                </div>
            </form>
            <a class="frases" href="{{ url_for('esqueciasenha') }}">Esqueceu a senha?</a>
        </div>
    </main>

</body>
</html>