<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}" />
    <link rel="stylesheet" href="../static/css/style2.css">
</head>
<body>
    <header>
        <a  class="link" href="{{ url_for('login') }}">Início</a>
        <a  class="link" href="{{ url_for('cadastro') }}">Faça seu cadastro</a>

    </header>
    <main>
        <section class="mensagem-flash">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul id="messages" class="list-unstyled">
                    {% for message in messages %}
                        <li class="alert alert-success">{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </section>

        <section class="login">
            <div class="apresentacao">
                <h1>Seja bem vindo!</h1>
                <p class="texto-apresentacao">Esta aplicação web foi desenvolvida usando Flask - Python, juntamente com HTML e CSS.<br>
                    Faça seu cadastro e teste as funcionalidades existentes nela.</p>
            </div>

            <div>
                <h2>Faça seu login.</h2>

                <form action="{{ url_for('autenticar') }}" method="POST">
                    <fieldset class="dados_login">
                        <div class="input_login">
                            <label class="label_login">Usuario</label>
                            <input type="text" name="usuario">
                        </div>
                        <div class="input_login">
                            <label class="label_senha">Senha</label>
                            <input type="password" name="senha">
                        </div>
                    </fieldset>
                    <div class="subdivisao">
                        <button type="submit">Logar</button>
                        <a class="link" href="{{ url_for('esqueciasenha') }}">Esqueceu a senha?</a>
                    </div>
                </form>
            </div>
        </section>
    </main>

</body>
</html>